body {
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: lighter;
  }
  
  button {
    border: none;
    color: #0a93f6;
    background-color: transparent;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
  }
  
  input {
    width: 100%;
    border: solid 1px #e5e5eb;
    border-radius: 10px;
    padding: 5px;
  }
  #log {
  width: 70vw;
  height: 50vh;
  margin: 0 auto;
  border: solid 1px #e5e5eb;
  border-radius: 7px;
  padding: 0.5em;
  /* Overflow vertically */
  overflow-y: scroll;
}

#controls {
  display: flex;
  width: 300px;
  margin: 40px auto;
}